* {
    box-sizing: border-box;
}

body {
    font-size: large;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: firebrick;
}

.grid-wrapper {
    height: 100vh;
    perspective: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-areas: 
        "first"
        "second"
        "third";
    grid-template-rows: auto;
}

.grid-wrapper .grid-section {
    max-width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    background-color: rgba(0, 119, 255, 0.575);
}

.grid-section.first {
    grid-area: first;
    display: flex;
    justify-content: space-between;
    height: max-content;
}

.grid-section.first nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20em;
    list-style-type: none;
}

.grid-section.second {
    grid-area: second;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.grid-section.second .groupContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
}

.grid-section.second .groupContainer div {
    flex-basis: 0;
    flex-grow: 1;
    padding: 1em;
    border-radius: 1em;
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 0, 0, 0.5));
    box-shadow: -2px 2px 5px black;
}

.grid-section.third {
    grid-area: third;
    height: 100vh;
}

.grid-wrapper  .back-layer {
    position: absolute;
    top: 100%;
    background-image: url('../assets/46700820704_df2de21423_o.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    transform: translateZ(-1000px) scale(13);
    z-index: -1;
}

/* Util Classes */

.grid-section.second.expand {
    height: auto;
}