* {
    box-sizing: border-box;
}

body {
    font-size: large;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: firebrick;
}

.grid-wrapper {
    width: 100%;
    height: 100vh;
    perspective: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-areas: 
        "first"
        "second"
        "third";
    grid-template-rows: auto;
    perspective: 100px;
}

.grid-wrapper .grid-section {
    position: relative;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    background-color: rgba(0, 119, 255, 0.575);
}

.grid-section.first {
    grid-area: first;
    display: flex;
    justify-content: space-between;
    height: max-content;
}

.grid-section.first nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20em;
    list-style-type: none;
}


.grid-section.second {
    grid-area: second;
    height: 100vh;
}

.grid-section.third {
    grid-area: third;
    height: 100vh;
}

.grid-wrapper  .back-layer {
    position: absolute;
    top: 100%;
    background-image: url('../assets/46700820704_df2de21423_o.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    transform: translateZ(-1000px) scale(13);
    z-index: -1;
}
